@import "tailwindcss";

@theme {
  --color-blue: #5264ff;
  --color-blueLight: #7d8bff;
  --color-textLight: #404040;
  --color-textDark: #fbfbfb;
  --color-grayBg: #d3d3d3;
  --color-orang: #ff782c;
  --color-orangBg: #ffaa7c33;
  --color-darkBgInLight: #232323;
  --color-darkBg: #1e1e1e;
  --color-lightBg: #fffbfb;
  --color-gray: #eaeaea;
  --font-vazirBold: "Vazir Bold";
  --font-vazirMedium: "Vazir Medium";
  --font-IranBold: "Iran bold";
  --font-IranLight: "Iran Light";
  --font-IranMedium: "Iran Medium";
  --font-RokhBold: "Rokh Bold";
  --font-RokhSemibold: "Rokh Semibold";
  --font-RokhMedium: "Rokh Medium";
  --container-padding: 2rem;
}
/* ------------font poppins---------------- */
@font-face {
  font-family: "Vazir Bold";
  src: local("Vazir Bold");
  src: url(../font/vazir/Vazir-Bold.woff) format(woff);
}
@font-face {
  font-family: "Vazir Medium";
  src: local("Vazir Medium");
  src: url(../font/vazir/Vazir-Medium.woff) format(woff);
}
/* ------------font iran---------------- */
@font-face {
  font-family: "Iran Bold";
  src: local("Iran Bold");
  src: url(../font/iran/iransansdnbold.woff2) format(woff);
}
@font-face {
  font-family: "Iran Light";
  src: local("Iran Light");
  src: url(../font/iran/iransansdnlight.woff2) format(woff);
}
@font-face {
  font-family: "Iran Medium";
  src: local("Iran Medium");
  src: url(../font/iran/iransansdn.woff2) format(woff);
}
/* ------------font rokh---------------- */
@font-face {
  font-family: "Rokh Bold";
  src: local("Rokh Bold");
  src: url(../font/rokh/Rokh-Bold.woff) format(woff);
}
@font-face {
  font-family: "Rokh Semibold";
  src: local("Rokh Semibold");
  src: url(../font/rokh/Rokh-SemiBold.woff) format(woff);
}
@font-face {
  font-family: "Rokh Medium";
  src: local("Rokh Medium");
  src: url(../font/rokh/Rokh-Medium.woff) format(woff);
}

@utility container {
  margin-inline: auto;
}
.li-effect {
  transition: all 200ms ease-in-out 100ms;
  position: relative;
}
.li-effect::before {
  content: " ";
  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #404040;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 150ms ease-in-out 100ms;
}
.li-effect:hover {
  padding-right: 28px;
}
.li-effect:hover:before {
  width: 25px;
}
.desktop-content {
  position: relative;
}
.desktop-content::after {
  content: " ";
  width: 0px;
  height: 1px;
  background-color: #5264ff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 150ms ease-in-out 100ms;
}
.desktop-content:hover.desktop-content::after {
  width: 100%;
}

.active {
  color: white;
}
.deactivate {
  color: rgba(255, 255, 255, 0.5);
}

.underline-custom {
  position: relative;
}

.underline-custom::before {
  content: " ";
  height: 2px;
  width: 45px;
  background-color: #5264ff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.select-tour_best-sell {
  color: #404040 !important;
  position: relative;
  transition: all 150ms ease-in;
}
.select-tour_best-sell::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #404040;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 150ms ease-in;
}
.best-sell--item {
  color: #b0bec5;
  transition: all 150ms ease-in;
}
